@use "@/styles/variables" as *;
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
  flex-wrap: wrap;
  gap: 8px;
}

.paginationButton {
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.3s;
  font-size: 14px;
  background: none;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
color: $primary-color;
  
  &:hover:not(:disabled) {
    background: $accent-color;
    color: white;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: none;
    color: $button-primary-bg-disabled
  }
  
  svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
  }
}

.pageNumbers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.pageButton {
  min-width: 40px;
  height: 40px;
  padding: 0;
  color: $primary-color;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.3s;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover:not(:disabled) {
    background: $accent-color;
    color: white;
    border-color: $accent-color;
  }
  
  &.activePage {
    background: $accent-color;
    color: white;
    border-color: $accent-color;
  }
  
  &.dots {
    border: none;
    cursor: default;
    background: none;
    
    &:hover {
      background: transparent;
      color: $primary-color;
    }
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: none;
  }
}

@media (max-width: 768px) {
  .pagination {
    gap: 4px;
  }
  
  .paginationButton {
    padding: 6px;
    
    svg {
      width: 18px;
      height: 18px;
    }
  }
  
  .pageButton {
    min-width: 32px;
    height: 32px;
    font-size: 16px;
  }
}