@use "@/styles/variables" as *;

.multi-dropdown {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  position: relative;

  &-input {
    width: 100%;
    cursor: pointer;

    :global(.after-slot) {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;

      svg {
        width: 20px;
        height: 20px;
        color: $secondary-color;
        transition: color 0.2s ease;
      }
    }

    &:hover :global(.after-slot svg) {
      color: $accent-color;
    }
  }

  &--open {
    .multi-dropdown-input :global(.after-slot) {
      transform: rotate(180deg);
    }
  }

  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &--placeholder {
    .multi-dropdown-input input::placeholder {
      color: $secondary-color;
    }
  }

  &-options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
    border-radius: 9px;
    max-height: 300px;
    overflow-y: auto;
    transition:
      background-color 0.25s ease,
      color 0.25s ease,
      border-color 0.25s ease;
  }

  &-option {
    display: flex;
    align-items: center;
    padding: $space-s $space-xs;
    cursor: pointer;
    color: var(--text-color);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &:hover {
      background-color: $button-primary-bg-hover;
      color: white;
    }

    &--selected {
      background-color: $accent-color;
      color: white;
    }
  }

  &-option-text {
    color: inherit;
  }

  &-empty {
    padding: $space-s $space-xs;
    text-align: center;
    color: $secondary-color;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 9px;
    transition:
      background-color 0.25s ease,
      color 0.25s ease,
      border-color 0.25s ease;
  }
}