@use "@/styles/variables" as *;

.search-bar {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 9px;
  
  &__input {
    flex: 1;
    height: 52px;
    border: 1px solid #adadad;
  }

  &__button {
    width: 64px;
    height: 52px;
    background-color: $accent-color;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 9px;
    
    img, 
    svg {
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1);
    }
    
    &:hover {
      opacity: 0.9;
    }
  }
}